@import '../../../styles/colors/semantic-color-tokens.scss';

header {
  background-color: $semantics-blue-hight-emphasis;
  display: flex;
  justify-content: space-between;
  padding-inline: 1.6rem;
  min-height: var(--header-height);
  align-items: center;

  nav {
    display: flex;
    gap: 1rem;
  }
}