@import '../../../../../../styles/colors/semantic-color-tokens.scss';

summary.tree-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: $semantics-gray-high-emphasis;
  cursor: pointer;

  &::selection,
  >*::selection {
    background-color: transparent;
  }

  app-icon.item-icon {
    color: $semantics-blue-low-emphasis;
  }

  app-icon.tree-item-arrow {
    rotate: -90deg;
    transition: 0.2s;

    &.open {
      rotate: 0deg;
    }
  }

  .sensor-icon {
    height: 1rem;
    width: 1rem;
  }

  .sensor-alert {
    color: $semantics-red-medium;
  }

  .sensor-normal {
    color: $semantics-green-medium;
  }

  .tree-item-name {
    pointer-events: none;
  }
}