@import '../../../../../styles/colors/semantic-color-tokens.scss';

.component-details-container {
  app-icon {
    color: $semantics-blue-low-emphasis;
  }

  .component-details-header {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 1.4rem 1.6rem;
    border-bottom: 1px solid $semantics-gray-medium-faded;

    app-icon.sensor-icon {
      color: $semantics-green-medium;

      &.alert {
        color: $semantics-red-medium;
      }
    }
  }

  .component-details {
    padding: 2.4rem;

    .upper-section {
      display: flex;
      gap: 2.4rem;
      align-items: center;

      aside {
        flex: 1;
        display: flex;
        flex-direction: column;

        .details-section {
          padding-left: 0;
        }
      }

      .component-image-wrapper {
        grid-area: image;
        display: grid;
        place-items: center;
        color: $semantics-blue-hight-faded;
        padding: 8rem;
        background-color: $neutral-colors-blue-100;
        border: 1px dashed $semantics-blue-hight-faded;
        border-radius: 0.4rem;
        cursor: pointer;
        position: relative;

        #add-image {
          opacity: 0;
          position: absolute;
          inset: 0;
          z-index: 1;
          cursor: pointer;
        }

        app-icon {
          scale: 3;
          transform-origin: bottom;
        }

        >*:not(#add-image) {
          translate: 0 30%;
        }
      }
    }


    article.lower-secction {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .divider {
      width: 100%;
      height: 1px;
      border: 0;
      margin: 2.4rem 0;
      border-bottom: 1px solid $semantics-gray-medium-faded;
    }

    .details-section {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      >div {
        display: flex;
        gap: 0.8rem;
        align-items: center;
      }
    }
  }
}